.o-container {
  &-intro {
    display: flex;
    flex-direction: column;
    row-gap: rem(24px);
    align-items: flex-start;
  }
  &-bg {
    display: none;
    @include respond-to(sm) {
      display: block;
      opacity: 0.3;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: z(background);
      position: fixed;
      top: 0;
      right: -12%;
      height: 100%;
      width: 80%;
    }
    @include respond-to(xl) {
      opacity: 0.7;
    }
  }
}

// cycle for wallpapers | class modifier
@each $img in home {
  .o-container-bg--#{$img} {
    background-image: url(../assets/images/wallpapers/#{$img}.webp);
  }
}
