// OVERRIDES

// Navbar bootstrap
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler:focus,
.navbar-toggler:focus:not(:focus-visible) {
  box-shadow: none;
  outline: 1px solid var(--color-white);
}

// Card overlay bootstrap
.card-img-overlay {
  .c-card & {
    display: flex;
    align-items: flex-end;
  }
}
